# Ignore everything in data by default
data/*

# But keep folder structure
!data/.gitkeep
!data/*/.gitkeep

# Allow external data to be versioned
!data/external/
!data/external/**

# Ignore virtual environment
venv/
